<section class="newNote">
  <div id="inputNote">
    {{textarea placeholder="Add a title!" rows="1" cols="100" value=titleCopy }}
    {{textarea placeholder="Add a note!" rows="20" cols="100" value=noteCopy}}
    <button {{action 'newNote'}}>Add Note</button>
  </div>

  <div id="watchingNote">
    {{noteCopy}}
  </div>

</section>

<hr>


<section class="outputNote">
  {{#each note in model}}
  <div class="note">
    <strong>{{note.title}}</strong> <br>
    <p>
      {{note.body}}
    </p>
    <button {{action 'deleteNote'}}> Delete</button>
  </div>
  {{/each}}
</section>
