<div class="flash-message">
  <h2>{{message-queue}}</h2>
</div>

<section class="newNote">
  {{textarea placeholder="Add a note!" value=noteCopy}}
</section>

<div id="watchingNote">
  {{noteCopy}}
  <button {{action 'newNote'}}>Add Note</button>
</div>


<hr>

{{#each note in model}}
  {{local-note body=note.body remove=note.id deleteNote="deleteNote"}}
{{/each}}
