<div id="inputNote">
  {{textarea placeholder="Add a title!" rows="1" cols="100" }}
  {{textarea placeholder="Add a note!" rows="20" cols="100" value=noteCopy}}
  <button {{action 'newNote'}}>Save Note</button>
</div>


<div id="outputNote">
  {{#each note in model}}
  {{note.title}}
  {{note.body}}
  {{/each}}
  {{outlet}}
</div>
